name: Publish Project Snapshot

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '0 3 * * 1,4'

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY_CONTENTS }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew currentVersion

      - run: ./gradlew assemble

      - name: Publish to Github Package Registry
        run: ./gradlew publishAllPublicationsToGithubRepository --no-configuration-cache

  diffuse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: .java-version

      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew assemble -PskipJarVersion

      - name: Upload diffuse base artifact
        uses: actions/cache@v5
        with:
          path: diffuse-base-file
          key: diffuse-${{ github.sha }}

      - name: Copy diffuse base artifact to be picked by cache save
        run: cp keeper-gradle-plugin/build/libs/keeper-gradle-plugin.jar diffuse-base-file
        shell: bash
